@page
@model RazorPagesMegaDesk.Pages.Desks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Desk</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.QuoteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.QuoteDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.DeskWide)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.DeskWide)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.DeskDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.DeskDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Materials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Materials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Rush)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Rush)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Desk.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
